In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
origin_df = pd.read_csv('https://production-bobsim.s3.ap-northeast-2.amazonaws.com/public_data/opend_data_marine_weather/origin/2014-2020+.csv', encoding='euc-kr')

In [5]:
origin_df.head()

,지점,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,21229,2014-01-01,10.9,1009.0,44.0,8.8,14.5,4.5,2.8,3.5,5.9,7.6,9.1
1,21229,2014-01-02,5.6,1017.8,61.0,6.4,14.4,3.7,2.4,3.7,6.1,7.8,9.1
2,21229,2014-01-03,6.5,1014.8,45.0,10.0,13.9,1.9,1.2,1.7,2.8,5.6,8.0
3,21229,2014-01-04,9.5,1017.9,68.0,3.1,13.5,3.7,2.3,3.0,5.7,7.2,9.1
4,21229,2014-01-05,7.4,1021.6,71.0,3.4,13.2,2.6,1.6,2.2,3.8,7.1,8.0

In [6]:
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34061 entries, 0 to 34060
Data columns (total 13 columns):
지점              34061 non-null int64
일시              34061 non-null object
평균 풍속(m/s)      33172 non-null float64
평균기압(hPa)       33145 non-null float64
평균 상대습도(pct)    33024 non-null float64
평균 기온(°C)       33174 non-null float64
평균 수온(°C)       33255 non-null float64
평균 최대 파고(m)     33418 non-null float64
평균 유의 파고(m)     33228 non-null float64
최고 유의 파고(m)     33988 non-null float64
최고 최대 파고(m)     33989 non-null float64
평균 파주기(sec)     33156 non-null float64
최고 파주기(sec)     33994 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 3.4+ MB

In [ ]:
origin_df.isnull().sum()

** null % **

In [9]:
origin_df.isnull().sum()/34061 * 100

지점              0.000000
일시              0.000000
평균 풍속(m/s)      2.610023
평균기압(hPa)       2.689293
평균 상대습도(pct)    3.044538
평균 기온(°C)       2.604151
평균 수온(°C)       2.366343
평균 최대 파고(m)     1.887790
평균 유의 파고(m)     2.445612
최고 유의 파고(m)     0.214321
최고 최대 파고(m)     0.211385
평균 파주기(sec)     2.656998
최고 파주기(sec)     0.196706
dtype: float64

#### 평균 풍속,기압, 습도,기온,수온 -> mean 
#### 파고에 관한것 -> 0

In [25]:
origin_df['평균 풍속(m/s)']= origin_df['평균 풍속(m/s)'].fillna(origin_df['평균 풍속(m/s)'].mean())

In [26]:
origin_df.isnull().sum()

지점                 0
일시                 0
평균 풍속(m/s)         0
평균기압(hPa)        916
평균 상대습도(pct)    1037
평균 기온(°C)        887
평균 수온(°C)        806
평균 최대 파고(m)      643
평균 유의 파고(m)      833
최고 유의 파고(m)       73
최고 최대 파고(m)       72
평균 파주기(sec)      905
최고 파주기(sec)       67
dtype: int64

In [27]:
origin_df[['평균기압(hPa)','평균 상대습도(pct)','평균 기온(°C)','평균 수온(°C)']]= origin_df[['평균기압(hPa)','평균 상대습도(pct)','평균 기온(°C)','평균 수온(°C)']].fillna(origin_df.mean())

In [28]:
origin_df.isnull().sum()

지점                0
일시                0
평균 풍속(m/s)        0
평균기압(hPa)         0
평균 상대습도(pct)      0
평균 기온(°C)         0
평균 수온(°C)         0
평균 최대 파고(m)     643
평균 유의 파고(m)     833
최고 유의 파고(m)      73
최고 최대 파고(m)      72
평균 파주기(sec)     905
최고 파주기(sec)      67
dtype: int64

In [34]:
origin_df.fillna(value=0,inplace=True)

In [35]:
origin_df.isnull().sum()

지점              0
일시              0
평균 풍속(m/s)      0
평균기압(hPa)       0
평균 상대습도(pct)    0
평균 기온(°C)       0
평균 수온(°C)       0
평균 최대 파고(m)     0
평균 유의 파고(m)     0
최고 유의 파고(m)     0
최고 최대 파고(m)     0
평균 파주기(sec)     0
최고 파주기(sec)     0
dtype: int64

 ** 왜곡도 추출 **

In [37]:
from scipy.stats import skew

features_index = origin_df.dtypes[origin_df.dtypes != 'object'].index

skew_features = origin_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features.sort_values(ascending=False))

최고 파주기(sec)     7.763082
최고 유의 파고(m)     1.693847
최고 최대 파고(m)     1.627927
평균 최대 파고(m)     1.573460
평균 유의 파고(m)     1.556484
평균 파주기(sec)     0.869491
평균 풍속(m/s)      0.648314
평균기압(hPa)      -0.067499
평균 기온(°C)      -0.102349
평균 수온(°C)      -0.139100
평균 상대습도(pct)   -0.320732
지점             -3.309556
dtype: float64

 ** 1이상 log 변환**

In [39]:
origin_df[skew_features_top.index] = np.log1p(origin_df[skew_features_top.index])

In [40]:
skew_features_logs = origin_df[features_index].apply(lambda x : skew(x))

print(skew_features_logs.sort_values(ascending=False))

최고 파주기(sec)     0.914432
평균 파주기(sec)     0.869491
평균 풍속(m/s)      0.648314
평균 유의 파고(m)     0.478406
최고 유의 파고(m)     0.424752
평균 최대 파고(m)     0.380923
최고 최대 파고(m)     0.356408
평균기압(hPa)      -0.067499
평균 기온(°C)      -0.102349
평균 수온(°C)      -0.139100
평균 상대습도(pct)   -0.320732
지점             -3.309556
dtype: float64