In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [11]:
from util.build_dataset import build_origin_weather

origin_w_df, key = build_origin_weather(date="201908")

2020-04-06 10:11:11:manager:<INFO> 1 files is loaded from public_data/open_data_terrestrial_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'
2020-04-06 10:11:15:manager:<INFO> 1 files is loaded from public_data/open_data_marine_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'

            date m_location  m_wind_speed_avg  m_atm_pressure_avg  \
0     2014-01-01      21229              10.9         1009.000000
1     2014-01-02      21229               5.6         1017.799988
2     2014-01-03      21229               6.5         1014.799988
3     2014-01-04      21229               9.5         1017.900024
4     2014-01-05      21229               7.4         1021.599976
...          ...        ...               ...                 ...
34056 2020-02-20      22194               3.7         1032.800049
34057 2020-02-21      22194               4.0         1028.900024
34058 2020-02-22      22194               8.4         1028.300049
34059 2020-02-23      22194               4.1         1029.800049
34060 2020-02-24      22194               NaN                 NaN

       m_rel_humid_avg  m_temper_avg  m_water_temper_avg  \
0                 44.0           8.8                14.5
1                 61.0           6.4                14.4
2                 45.0          10.0                13.9
3                 68.0           3.1                13.5
4                 71.0           3.4                13.2
...                ...           ...                 ...
34056             67.0           8.0                 9.0
34057             77.0           9.6                 8.8
34058             65.0           8.1                 8.8
34059             59.0           6.6                 8.9
34060              NaN           NaN                 NaN

       m_max_wave_height_avg  m_sign_wave_height_avg  \
0                        4.5                     2.8
1                        3.7                     2.4
2                        1.9                     1.2
3                        3.7                     2.3
4                        2.6                     1.6
...                      ...                     ...
34056                    0.6                     0.3
34057                    0.6                     0.4
34058                    2.4                     1.5
34059                    2.1                     1.3
34060                    NaN                     NaN

       m_sign_wave_height_highest  m_max_wave_height_highest  \
0                             3.5                        5.9
1                             3.7                        6.1
2                             1.7                        2.8
3                             3.0                        5.7
4                             2.2                        3.8
...                           ...                        ...
34056                         0.5                        0.7
34057                         0.5                        0.7
34058                         2.2                        3.6
34059                         1.9                        3.2
34060                         0.5                        0.8

       m_wave_period_avg  m_wave_period_highest
0                    7.6                    9.1
1                    7.8                    9.1
2                    5.6                    8.0
3                    7.2                    9.1
4                    7.1                    8.0
...                  ...                    ...
34056                3.6                    5.8
34057                3.0                    4.6
34058                5.1                    7.1
34059                5.7                    7.1
34060                NaN                    4.9

[34061 rows x 13 columns]

In [12]:
origin_w_df.head()

,date,t_location,t_temper_avg,t_temper_lowest,t_temper_highest,t_duration_precipitation,t_daily_precipitation,t_wind_speed_max,t_wind_speed_avg,t_rel_humid_min,...,m_atm_pressure_avg,m_rel_humid_avg,m_temper_avg,m_water_temper_avg,m_max_wave_height_avg,m_sign_wave_height_avg,m_sign_wave_height_highest,m_max_wave_height_highest,m_wave_period_avg,m_wave_period_highest
0,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1009.900024,89.0,25.200001,25.200001,1.1,0.6,1.1,2.0,4.5,5.3
1,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1011.700012,97.0,23.400000,21.000000,0.6,0.3,0.4,0.7,5.0,5.8
2,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1011.900024,94.0,23.400000,21.799999,0.8,0.5,0.7,1.2,5.0,5.8
3,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1014.299988,96.0,27.400000,26.100000,0.8,0.5,0.7,1.1,4.1,5.3
4,2019-08-01,90,29.700001,26.4,35.599998,NaN,0.3,5.2,2.0,45.0,...,1012.200012,95.0,25.799999,25.299999,0.7,0.4,0.5,0.8,5.3,6.4

### distribution

In [13]:
origin_df.describe()

,t_temper_avg,t_temper_lowest,t_temper_highest,t_duration_precipitation,t_daily_precipitation,t_wind_speed_max,t_wind_speed_avg,t_rel_humid_min,t_rel_humid_avg,m_wind_speed_avg,m_atm_pressure_avg,m_rel_humid_avg,m_temper_avg,m_water_temper_avg,m_max_wave_height_avg,m_sign_wave_height_avg,m_sign_wave_height_highest,m_max_wave_height_highest,m_wave_period_avg,m_wave_period_highest
count,49018.000000,49119.000000,49136.000000,5502.000000,22548.000000,49055.000000,49085.000000,49136.000000,49018.000000,46506.000000,45562.000000,45937.000000,46128.000000,46034.000000,46413.000000,46127.000000,49136.000000,49136.000000,45849.000000,49136.000000
mean,25.909641,22.150988,30.649519,4.378472,10.031431,4.077146,1.648974,57.397816,79.432495,4.506728,1006.922974,84.035286,26.069393,25.954638,1.404419,0.845516,1.143726,1.967617,6.049574,8.500063
std,2.567353,2.829556,3.075308,4.409429,19.324615,1.571303,1.042604,12.647099,8.409043,2.236599,5.091280,7.962865,1.664197,1.962386,0.940962,0.580772,0.773929,1.267068,1.759715,3.671034
min,17.400000,12.300000,20.100000,0.030000,0.000000,1.100000,0.200000,22.000000,48.900002,0.700000,987.099976,58.000000,13.700000,20.000000,0.200000,0.000000,0.100000,0.200000,2.600000,3.400000
25%,24.000000,20.200001,28.500000,0.900000,0.100000,3.000000,1.000000,49.000000,74.099998,2.900000,1005.099976,80.000000,25.000000,25.100000,0.700000,0.500000,0.600000,1.000000,4.700000,6.400000
50%,26.100000,22.700001,30.600000,2.820000,1.500000,3.800000,1.400000,56.000000,79.300003,4.000000,1007.799988,86.000000,26.100000,26.500000,1.200000,0.700000,1.000000,1.700000,5.700000,8.000000
75%,28.000000,24.299999,33.099998,6.670000,10.000000,4.700000,2.000000,65.000000,84.900002,5.600000,1010.599976,90.000000,27.299999,27.299999,1.800000,1.100000,1.500000,2.500000,7.000000,9.100000
max,31.700001,28.799999,37.599998,23.080000,203.699997,19.700001,13.200000,99.000000,100.000000,12.500000,1016.599976,97.000000,29.799999,29.200001,5.900000,3.600000,4.400000,7.400000,10.900000,64.000000

### Null & Type check

In [8]:
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214325 entries, 0 to 214324
Data columns (total 14 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   지점             214325 non-null  int64
 1   지점명            214325 non-null  object
 2   일시             214325 non-null  object
 3   평균기온(°C)       214086 non-null  float64
 4   최저기온(°C)       214300 non-null  float64
 5   최고기온(°C)       214305 non-null  float64
 6   강수 계속시간(hr)    22288 non-null   float64
 7   일강수량(mm)       77862 non-null   float64
 8   최대 풍속(m/s)     214217 non-null  float64
 9   평균 풍속(m/s)     214143 non-null  float64
 10  최소 상대습도(pct)   214246 non-null  float64
 11  평균 상대습도(pct)   213919 non-null  float64
 12  합계 일조시간(hr)    213966 non-null  float64
 13  합계 일사량(MJ/m2)  92353 non-null   float64
dtypes: float64(11), int64(1), object(2)
memory usage: 22.9+ MB

In [9]:
origin_df[['지점', '합계 일사량(MJ/m2)']].groupby("지점")['합계 일사량(MJ/m2)'].isnull().count().value_counts().sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'isnull'

In [39]:
origin_df[['지점', '합계 일사량(MJ/m2)']].groupby("지점")['합계 일사량(MJ/m2)'].count().value_counts()

0       38
1        8
2272     8
2270     7
2271     5
2268     5
2        4
2266     3
2269     2
691      1
3        1
526      1
402      1
2199     1
2213     1
1270     1
1600     1
2249     1
1613     1
1268     1
2258     1
2267     1
2159     1
1265     1
2257     1
Name: 합계 일사량(MJ/m2), dtype: int64

### Null value %

In [40]:
origin_df.isnull().sum()/214325* 100

지점                0.000000
지점명               0.000000
일시                0.000000
평균기온(°C)          0.111513
최저기온(°C)          0.011665
최고기온(°C)          0.009332
강수 계속시간(hr)      89.600840
일강수량(mm)         63.671060
최대 풍속(m/s)        0.050391
평균 풍속(m/s)        0.084918
최소 상대습도(pct)      0.036860
평균 상대습도(pct)      0.189432
합계 일조시간(hr)       0.167503
합계 일사량(MJ/m2)    56.909833
dtype: float64

## null handling
#### 강수 계속시간 , 일강수량, 합계일사량 -> 0
#### 나머지 -> mean()

In [4]:
origin_df[['일강수량(mm)','강수 계속시간(hr)']] = origin_df[['일강수량(mm)','강수 계속시간(hr)']].fillna(value=0)

origin_def.assign()

In [5]:
origin_df['합계 일사량(MJ/m2)'] = origin_df['합계 일사량(MJ/m2)'].fillna(value=0)

In [ ]:
origin_df[['평균기온(°C)','최저기온(°C)','최고기온(°C)', '강수 계속시간(hr)', '일강수량(mm)', '최대 풍속(m/s)',        
          '평균 풍속(m/s)', '최소 상대습도(pct)', '평균 상대습도(pct)', '합계 일조시간(hr)']]=origin_df[['평균기온(°C)','최저기온(°C)','최고기온(°C)', '강수 계속시간(hr)', '일강수량(mm)', '최대 풍속(m/s)',        
          '평균 풍속(m/s)', '최소 상대습도(pct)', '평균 상대습도(pct)', '합계 일조시간(hr)']].fillna(origin_df.mean())

In [6]:
origin_df.isnull().sum()

지점                 0
지점명                0
일시                 0
평균기온(°C)         239
최저기온(°C)          25
최고기온(°C)          20
강수 계속시간(hr)        0
일강수량(mm)           0
최대 풍속(m/s)       108
평균 풍속(m/s)       182
최소 상대습도(pct)      79
평균 상대습도(pct)     406
합계 일조시간(hr)      359
합계 일사량(MJ/m2)      0
dtype: int64

### 합계 일사량은 조사자체를 안하는 지역이 많아서 null value가 많다 ( 삭제 )

In [7]:
origin_df.drop('합계 일사량(MJ/m2)', axis = 1)

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s),최소 상대습도(pct),평균 상대습도(pct),합계 일조시간(hr)
0,90,속초,2014-01-01,6.6,4.1,8.9,0.00,0.0,9.8,5.4,22.0,31.3,7.0
1,90,속초,2014-01-02,4.0,-0.3,7.0,0.00,0.0,4.2,1.8,18.0,31.9,8.9
2,90,속초,2014-01-03,6.6,2.4,9.4,0.00,0.0,9.6,3.0,24.0,40.0,4.4
3,90,속초,2014-01-04,1.2,0.0,3.8,18.75,7.4,6.0,1.8,44.0,87.4,0.0
4,90,속초,2014-01-05,0.4,-2.0,2.7,0.83,0.0,5.1,1.7,78.0,90.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214320,295,남해,2020-03-17,11.2,3.0,18.1,0.00,0.0,4.1,2.0,29.0,44.4,10.3
214321,295,남해,2020-03-18,11.6,4.4,18.8,0.00,0.0,4.5,1.5,24.0,60.1,10.3
214322,295,남해,2020-03-19,12.5,7.9,18.3,0.00,0.0,6.7,3.0,18.0,48.4,9.6
214323,295,남해,2020-03-20,11.1,6.4,16.6,0.00,0.0,3.9,1.9,24.0,36.0,10.0
214324,295,남해,2020-03-21,14.1,5.5,21.2,0.00,0.0,3.9,1.5,44.0,62.5,10.1

** 숫자 피처들에 대한 데이터 분포 왜곡도 확인 후 높은 왜곡도를 가지는 피처 추출 **

In [9]:
from scipy.stats import skew

features_index = origin_df.dtypes[origin_df.dtypes != 'object'].index

skew_features = origin_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features_top.sort_values(ascending=False))
#print(skew_features.sort_values(ascending=False))

일강수량(mm)         8.058130
강수 계속시간(hr)      5.292071
합계 일사량(MJ/m2)    1.171629
dtype: float64

In [10]:
origin_df.describe()

,지점,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s),최소 상대습도(pct),평균 상대습도(pct),합계 일조시간(hr),합계 일사량(MJ/m2)
count,214325.000000,214086.000000,214300.000000,214305.000000,214325.000000,214325.000000,214217.000000,214143.000000,214246.000000,213919.000000,213966.000000,214325.000000
mean,197.148312,12.939258,8.211564,18.397884,0.625384,3.265715,4.815078,2.025076,43.862217,68.523449,6.317802,5.817511
std,64.042405,9.583057,10.119724,9.682490,2.587713,12.280545,2.181304,1.382729,19.651868,16.153310,3.934152,8.173439
min,90.000000,-19.400000,-25.200000,-15.200000,0.000000,0.000000,0.000000,0.000000,1.000000,10.400000,0.000000,0.000000
25%,137.000000,4.700000,-0.300000,10.200000,0.000000,0.000000,3.400000,1.100000,28.000000,57.600000,2.800000,0.000000
50%,201.000000,13.700000,8.400000,19.600000,0.000000,0.000000,4.400000,1.700000,43.000000,70.100000,7.200000,0.000000
75%,258.000000,21.200000,17.000000,26.500000,0.000000,0.400000,5.700000,2.500000,57.000000,80.500000,9.400000,11.210000
max,295.000000,34.100000,30.300000,41.000000,24.000000,384.300000,49.000000,21.400000,100.000000,100.000000,50.000000,42.860000

** 왜곡도가 1인 피처들은 로그 변환 적용 **

In [ ]:
import numpy as np
origin_df[skew_features_top.index] = np.log1p(origin_df[skew_features_top.index])

In [30]:
skew_features = origin_df[features_index].apply(lambda x : skew(x))
print(skew_features.sort_values(ascending=False))

강수 계속시간(hr)      3.536727
일강수량(mm)         2.196918
평균 풍속(m/s)       0.764090
합계 일사량(MJ/m2)    0.507175
최대 풍속(m/s)       0.332204
지점              -0.440484
최소 상대습도(pct)    -0.613731
합계 일조시간(hr)     -1.063731
평균 상대습도(pct)    -1.088218
평균기온(°C)              NaN
최저기온(°C)              NaN
최고기온(°C)              NaN
dtype: float64