In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [29]:
origin_df = pd.read_csv('https://production-bobsim.s3.ap-northeast-2.amazonaws.com/public_data/open_data_marine_weather/origin/csv/2014-2020+.csv', encoding='euc-kr')

In [30]:
origin_df.head()

,지점,일시,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
0,21229,2014-01-01,10.9,1009.0,44.0,8.8,14.5,4.5,2.8,3.5,5.9,7.6,9.1
1,21229,2014-01-02,5.6,1017.8,61.0,6.4,14.4,3.7,2.4,3.7,6.1,7.8,9.1
2,21229,2014-01-03,6.5,1014.8,45.0,10.0,13.9,1.9,1.2,1.7,2.8,5.6,8.0
3,21229,2014-01-04,9.5,1017.9,68.0,3.1,13.5,3.7,2.3,3.0,5.7,7.2,9.1
4,21229,2014-01-05,7.4,1021.6,71.0,3.4,13.2,2.6,1.6,2.2,3.8,7.1,8.0

In [31]:
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34061 entries, 0 to 34060
Data columns (total 13 columns):
지점              34061 non-null int64
일시              34061 non-null object
평균 풍속(m/s)      33172 non-null float64
평균기압(hPa)       33145 non-null float64
평균 상대습도(pct)    33024 non-null float64
평균 기온(°C)       33174 non-null float64
평균 수온(°C)       33255 non-null float64
평균 최대 파고(m)     33418 non-null float64
평균 유의 파고(m)     33228 non-null float64
최고 유의 파고(m)     33988 non-null float64
최고 최대 파고(m)     33989 non-null float64
평균 파주기(sec)     33156 non-null float64
최고 파주기(sec)     33994 non-null float64
dtypes: float64(11), int64(1), object(1)
memory usage: 3.4+ MB

In [32]:
origin_df.isnull().sum()

지점                 0
일시                 0
평균 풍속(m/s)       889
평균기압(hPa)        916
평균 상대습도(pct)    1037
평균 기온(°C)        887
평균 수온(°C)        806
평균 최대 파고(m)      643
평균 유의 파고(m)      833
최고 유의 파고(m)       73
최고 최대 파고(m)       72
평균 파주기(sec)      905
최고 파주기(sec)       67
dtype: int64

** null % **

In [33]:
origin_df.isnull().sum()/34061 * 100

지점              0.000000
일시              0.000000
평균 풍속(m/s)      2.610023
평균기압(hPa)       2.689293
평균 상대습도(pct)    3.044538
평균 기온(°C)       2.604151
평균 수온(°C)       2.366343
평균 최대 파고(m)     1.887790
평균 유의 파고(m)     2.445612
최고 유의 파고(m)     0.214321
최고 최대 파고(m)     0.211385
평균 파주기(sec)     2.656998
최고 파주기(sec)     0.196706
dtype: float64

#### 평균 풍속,기압, 습도,기온,수온 -> mean 
#### 파고에 관한것 -> 0

In [34]:
origin_df['평균 풍속(m/s)']= origin_df['평균 풍속(m/s)'].fillna(origin_df['평균 풍속(m/s)'].mean())

In [35]:
origin_df.isnull().sum()

지점                 0
일시                 0
평균 풍속(m/s)         0
평균기압(hPa)        916
평균 상대습도(pct)    1037
평균 기온(°C)        887
평균 수온(°C)        806
평균 최대 파고(m)      643
평균 유의 파고(m)      833
최고 유의 파고(m)       73
최고 최대 파고(m)       72
평균 파주기(sec)      905
최고 파주기(sec)       67
dtype: int64

In [36]:
origin_df[['평균기압(hPa)','평균 상대습도(pct)','평균 기온(°C)','평균 수온(°C)']]= origin_df[['평균기압(hPa)','평균 상대습도(pct)','평균 기온(°C)','평균 수온(°C)']].fillna(origin_df.mean())

In [37]:
origin_df.isnull().sum()

지점                0
일시                0
평균 풍속(m/s)        0
평균기압(hPa)         0
평균 상대습도(pct)      0
평균 기온(°C)         0
평균 수온(°C)         0
평균 최대 파고(m)     643
평균 유의 파고(m)     833
최고 유의 파고(m)      73
최고 최대 파고(m)      72
평균 파주기(sec)     905
최고 파주기(sec)      67
dtype: int64

In [38]:
origin_df.fillna(value=0,inplace=True)

In [39]:
origin_df.isnull().sum()

지점              0
일시              0
평균 풍속(m/s)      0
평균기압(hPa)       0
평균 상대습도(pct)    0
평균 기온(°C)       0
평균 수온(°C)       0
평균 최대 파고(m)     0
평균 유의 파고(m)     0
최고 유의 파고(m)     0
최고 최대 파고(m)     0
평균 파주기(sec)     0
최고 파주기(sec)     0
dtype: int64

 ** 왜곡도 추출 **

In [40]:
origin_df.describe()

,지점,평균 풍속(m/s),평균기압(hPa),평균 상대습도(pct),평균 기온(°C),평균 수온(°C),평균 최대 파고(m),평균 유의 파고(m),최고 유의 파고(m),최고 최대 파고(m),평균 파주기(sec),최고 파주기(sec)
count,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000,34061.000000
mean,22079.921141,5.625133,1016.389127,74.240764,14.792533,16.979955,1.628100,0.990094,1.454584,2.471260,5.395191,7.552262
std,230.179519,2.668455,7.735999,14.382948,7.584384,5.983861,1.157588,0.730417,1.028132,1.681774,1.849509,2.724616
min,21229.000000,0.000000,982.300000,0.000000,-11.000000,1.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22103.000000,3.600000,1010.400000,63.000000,8.500000,13.100000,0.800000,0.500000,0.700000,1.200000,4.300000,6.100000
50%,22107.000000,5.400000,1016.389127,75.000000,14.800000,16.979955,1.400000,0.800000,1.200000,2.100000,5.300000,7.100000
75%,22185.000000,7.300000,1022.300000,87.000000,21.000000,21.600000,2.200000,1.300000,1.900000,3.300000,6.400000,8.500000
max,22194.000000,19.600000,1038.500000,100.000000,34.600000,31.500000,12.700000,7.600000,12.000000,17.600000,24.400000,64.000000

In [41]:
from scipy.stats import skew

features_index = origin_df.dtypes[origin_df.dtypes != 'object'].index

skew_features = origin_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features.sort_values(ascending=False))

최고 파주기(sec)     7.561658
최고 유의 파고(m)     1.685943
최고 최대 파고(m)     1.619359
평균 최대 파고(m)     1.510078
평균 유의 파고(m)     1.486558
평균 풍속(m/s)      0.648314
평균 파주기(sec)     0.109200
평균기압(hPa)      -0.067499
평균 기온(°C)      -0.102349
평균 수온(°C)      -0.139100
평균 상대습도(pct)   -0.320732
지점             -3.309556
dtype: float64

 ** 1이상 log 변환**

In [42]:
origin_df[skew_features_top.index] = np.log1p(origin_df[skew_features_top.index])

In [43]:
skew_features_logs = origin_df[features_index].apply(lambda x : skew(x))

print(skew_features_logs.sort_values(ascending=False))

평균 풍속(m/s)      0.648314
최고 유의 파고(m)     0.411072
평균 유의 파고(m)     0.394427
최고 최대 파고(m)     0.328965
평균 최대 파고(m)     0.259490
평균 파주기(sec)     0.109200
평균기압(hPa)      -0.067499
평균 기온(°C)      -0.102349
평균 수온(°C)      -0.139100
최고 파주기(sec)    -0.263186
평균 상대습도(pct)   -0.320732
지점             -3.309556
dtype: float64