In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
from util.build_dataset import build_origin_weather

origin_w_df, key = build_origin_weather(date="201908")

2020-04-08 12:48:30:manager:<INFO> 1 files is loaded from public_data/open_data_terrestrial_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'
2020-04-08 12:48:31:manager:<INFO> 1 files is loaded from public_data/open_data_marine_weather/origin/csv/2014-2020.csv in s3 'production-bobsim'

In [6]:
origin_w_df[['t_dur_preci','t_daily_preci']].head(50)

    t_dur_preci  t_daily_preci
0           NaN            0.3
1           NaN            0.3
2           NaN            0.3
3           NaN            0.3
4           NaN            0.3
5           NaN            0.3
6           NaN            0.3
7           NaN            0.3
8           NaN            0.3
9           NaN            0.3
10          NaN            0.3
11          NaN            0.3
12          NaN            0.3
13          NaN            0.3
14          NaN            0.3
15          NaN            0.3
16          NaN            0.3
17         6.25            4.6
18         6.25            4.6
19         6.25            4.6
20         6.25            4.6
21         6.25            4.6
22         6.25            4.6
23         6.25            4.6
24         6.25            4.6
25         6.25            4.6
26         6.25            4.6
27         6.25            4.6
28         6.25            4.6
29         6.25            4.6
30         6.25            4.6
31         6.25            4.6
32         6.25            4.6
33         6.25            4.6
34          NaN            0.8
35          NaN            0.8
36          NaN            0.8
37          NaN            0.8
38          NaN            0.8
39          NaN            0.8
40          NaN            0.8
41          NaN            0.8
42          NaN            0.8
43          NaN            0.8
44          NaN            0.8
45          NaN            0.8
46          NaN            0.8
47          NaN            0.8
48          NaN            0.8
49          NaN            0.8

### distribution

In [4]:
origin_w_df.describe()

,t_temper_avg,t_temper_lowest,t_temper_high,t_dur_preci,t_daily_preci,t_wind_spd_max,t_wind_spd_avg,t_rel_hmd_min,t_rel_hmd_avg,m_wind_spd_avg,m_atm_press_avg,m_rel_hmd_avg,m_temper_avg,m_water_temper_avg,m_max_wave_h_avg,m_sign_wave_h_avg,m_sign_wave_h_high,m_max_wave_h_high,m_wave_p_avg,m_wave_p_high
count,49018.000000,49119.000000,49136.000000,5502.000000,22548.000000,49055.000000,49085.000000,49136.000000,49018.000000,46506.000000,45562.000000,45937.000000,46128.000000,46034.000000,46413.000000,46127.000000,49136.000000,49136.000000,45849.000000,49136.000000
mean,25.909641,22.150988,30.649519,4.378472,10.031431,4.077146,1.648974,57.397816,79.432495,4.506728,1006.922974,84.035286,26.069393,25.954638,1.404419,0.845516,1.143726,1.967617,6.049574,8.500063
std,2.567353,2.829556,3.075308,4.409429,19.324615,1.571303,1.042604,12.647099,8.409043,2.236599,5.091280,7.962865,1.664197,1.962386,0.940962,0.580772,0.773929,1.267068,1.759715,3.671034
min,17.400000,12.300000,20.100000,0.030000,0.000000,1.100000,0.200000,22.000000,48.900002,0.700000,987.099976,58.000000,13.700000,20.000000,0.200000,0.000000,0.100000,0.200000,2.600000,3.400000
25%,24.000000,20.200001,28.500000,0.900000,0.100000,3.000000,1.000000,49.000000,74.099998,2.900000,1005.099976,80.000000,25.000000,25.100000,0.700000,0.500000,0.600000,1.000000,4.700000,6.400000
50%,26.100000,22.700001,30.600000,2.820000,1.500000,3.800000,1.400000,56.000000,79.300003,4.000000,1007.799988,86.000000,26.100000,26.500000,1.200000,0.700000,1.000000,1.700000,5.700000,8.000000
75%,28.000000,24.299999,33.099998,6.670000,10.000000,4.700000,2.000000,65.000000,84.900002,5.600000,1010.599976,90.000000,27.299999,27.299999,1.800000,1.100000,1.500000,2.500000,7.000000,9.100000
max,31.700001,28.799999,37.599998,23.080000,203.699997,19.700001,13.200000,99.000000,100.000000,12.500000,1016.599976,97.000000,29.799999,29.200001,5.900000,3.600000,4.400000,7.400000,10.900000,64.000000

### Null & Type check

In [5]:
origin_w_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49136 entries, 0 to 49135
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                49136 non-null  datetime64[ns]
 1   t_location          49136 non-null  object
 2   t_temper_avg        49018 non-null  float32
 3   t_temper_lowest     49119 non-null  float32
 4   t_temper_high       49136 non-null  float32
 5   t_dur_preci         5502 non-null   float32
 6   t_daily_preci       22548 non-null  float32
 7   t_wind_spd_max      49055 non-null  float32
 8   t_wind_spd_avg      49085 non-null  float32
 9   t_rel_hmd_min       49136 non-null  float32
 10  t_rel_hmd_avg       49018 non-null  float32
 11  m_location          49136 non-null  object
 12  m_wind_spd_avg      46506 non-null  float32
 13  m_atm_press_avg     45562 non-null  float32
 14  m_rel_hmd_avg       45937 non-null  float32
 15  m_temper_avg        46128 non-null  float32
 16  m_water_temper_avg  46034 non-null  float32
 17  m_max_wave_h_avg    46413 non-null  float32
 18  m_sign_wave_h_avg   46127 non-null  float32
 19  m_sign_wave_h_high  49136 non-null  float32
 20  m_max_wave_h_high   49136 non-null  float32
 21  m_wave_p_avg        45849 non-null  float32
 22  m_wave_p_high       49136 non-null  float32
dtypes: datetime64[ns](1), float32(20), object(2)
memory usage: 5.2+ MB

### Null value %

In [12]:
origin_w_df.isnull().sum()/49136*100

date                   0.000000
t_location             0.000000
t_temper_avg           0.240150
t_temper_lowest        0.034598
t_temper_high          0.000000
t_dur_preci           88.802507
t_daily_preci         54.111039
t_wind_spd_max         0.164849
t_wind_spd_avg         0.103794
t_rel_hmd_min          0.000000
t_rel_hmd_avg          0.240150
m_location             0.000000
m_wind_spd_avg         5.352491
m_atm_press_avg        7.273689
m_rel_hmd_avg          6.510501
m_temper_avg           6.121784
m_water_temper_avg     6.313090
m_max_wave_h_avg       5.541762
m_sign_wave_h_avg      6.123820
m_sign_wave_h_high     0.000000
m_max_wave_h_high      0.000000
m_wave_p_avg           6.689596
m_wave_p_high          0.000000
dtype: float64

## null handling
#### 강수 계속시간 , 일강수량, 합계일사량 -> 0
#### 나머지 -> mean()

In [4]:
origin_df[['일강수량(mm)','강수 계속시간(hr)']] = origin_df[['일강수량(mm)','강수 계속시간(hr)']].fillna(value=0)

origin_def.assign()

In [5]:
origin_df['합계 일사량(MJ/m2)'] = origin_df['합계 일사량(MJ/m2)'].fillna(value=0)

In [ ]:
origin_df[['평균기온(°C)','최저기온(°C)','최고기온(°C)', '강수 계속시간(hr)', '일강수량(mm)', '최대 풍속(m/s)',        
          '평균 풍속(m/s)', '최소 상대습도(pct)', '평균 상대습도(pct)', '합계 일조시간(hr)']]=origin_df[['평균기온(°C)','최저기온(°C)','최고기온(°C)', '강수 계속시간(hr)', '일강수량(mm)', '최대 풍속(m/s)',        
          '평균 풍속(m/s)', '최소 상대습도(pct)', '평균 상대습도(pct)', '합계 일조시간(hr)']].fillna(origin_df.mean())

In [6]:
origin_df.isnull().sum()

지점                 0
지점명                0
일시                 0
평균기온(°C)         239
최저기온(°C)          25
최고기온(°C)          20
강수 계속시간(hr)        0
일강수량(mm)           0
최대 풍속(m/s)       108
평균 풍속(m/s)       182
최소 상대습도(pct)      79
평균 상대습도(pct)     406
합계 일조시간(hr)      359
합계 일사량(MJ/m2)      0
dtype: int64

### 합계 일사량은 조사자체를 안하는 지역이 많아서 null value가 많다 ( 삭제 )

In [7]:
origin_df.drop('합계 일사량(MJ/m2)', axis = 1)

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s),최소 상대습도(pct),평균 상대습도(pct),합계 일조시간(hr)
0,90,속초,2014-01-01,6.6,4.1,8.9,0.00,0.0,9.8,5.4,22.0,31.3,7.0
1,90,속초,2014-01-02,4.0,-0.3,7.0,0.00,0.0,4.2,1.8,18.0,31.9,8.9
2,90,속초,2014-01-03,6.6,2.4,9.4,0.00,0.0,9.6,3.0,24.0,40.0,4.4
3,90,속초,2014-01-04,1.2,0.0,3.8,18.75,7.4,6.0,1.8,44.0,87.4,0.0
4,90,속초,2014-01-05,0.4,-2.0,2.7,0.83,0.0,5.1,1.7,78.0,90.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
214320,295,남해,2020-03-17,11.2,3.0,18.1,0.00,0.0,4.1,2.0,29.0,44.4,10.3
214321,295,남해,2020-03-18,11.6,4.4,18.8,0.00,0.0,4.5,1.5,24.0,60.1,10.3
214322,295,남해,2020-03-19,12.5,7.9,18.3,0.00,0.0,6.7,3.0,18.0,48.4,9.6
214323,295,남해,2020-03-20,11.1,6.4,16.6,0.00,0.0,3.9,1.9,24.0,36.0,10.0
214324,295,남해,2020-03-21,14.1,5.5,21.2,0.00,0.0,3.9,1.5,44.0,62.5,10.1

** 숫자 피처들에 대한 데이터 분포 왜곡도 확인 후 높은 왜곡도를 가지는 피처 추출 **

In [9]:
from scipy.stats import skew

features_index = origin_df.dtypes[origin_df.dtypes != 'object'].index

skew_features = origin_df[features_index].apply(lambda x : skew(x))

skew_features_top = skew_features[skew_features > 1]
print(skew_features_top.sort_values(ascending=False))
#print(skew_features.sort_values(ascending=False))

일강수량(mm)         8.058130
강수 계속시간(hr)      5.292071
합계 일사량(MJ/m2)    1.171629
dtype: float64

In [10]:
origin_df.describe()

,지점,평균기온(°C),최저기온(°C),최고기온(°C),강수 계속시간(hr),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s),최소 상대습도(pct),평균 상대습도(pct),합계 일조시간(hr),합계 일사량(MJ/m2)
count,214325.000000,214086.000000,214300.000000,214305.000000,214325.000000,214325.000000,214217.000000,214143.000000,214246.000000,213919.000000,213966.000000,214325.000000
mean,197.148312,12.939258,8.211564,18.397884,0.625384,3.265715,4.815078,2.025076,43.862217,68.523449,6.317802,5.817511
std,64.042405,9.583057,10.119724,9.682490,2.587713,12.280545,2.181304,1.382729,19.651868,16.153310,3.934152,8.173439
min,90.000000,-19.400000,-25.200000,-15.200000,0.000000,0.000000,0.000000,0.000000,1.000000,10.400000,0.000000,0.000000
25%,137.000000,4.700000,-0.300000,10.200000,0.000000,0.000000,3.400000,1.100000,28.000000,57.600000,2.800000,0.000000
50%,201.000000,13.700000,8.400000,19.600000,0.000000,0.000000,4.400000,1.700000,43.000000,70.100000,7.200000,0.000000
75%,258.000000,21.200000,17.000000,26.500000,0.000000,0.400000,5.700000,2.500000,57.000000,80.500000,9.400000,11.210000
max,295.000000,34.100000,30.300000,41.000000,24.000000,384.300000,49.000000,21.400000,100.000000,100.000000,50.000000,42.860000

** 왜곡도가 1인 피처들은 로그 변환 적용 **

In [ ]:
import numpy as np
origin_df[skew_features_top.index] = np.log1p(origin_df[skew_features_top.index])

In [30]:
skew_features = origin_df[features_index].apply(lambda x : skew(x))
print(skew_features.sort_values(ascending=False))

강수 계속시간(hr)      3.536727
일강수량(mm)         2.196918
평균 풍속(m/s)       0.764090
합계 일사량(MJ/m2)    0.507175
최대 풍속(m/s)       0.332204
지점              -0.440484
최소 상대습도(pct)    -0.613731
합계 일조시간(hr)     -1.063731
평균 상대습도(pct)    -1.088218
평균기온(°C)              NaN
최저기온(°C)              NaN
최고기온(°C)              NaN
dtype: float64