In [1]:
from util.s3_manager.manage import S3Manager

m = S3Manager(bucket_name="production-bobsim" )

In [9]:
tuned_beta = m.fetch_objects(key="food_material_price_predict_model/beta_201908.csv")
#reduc_beta = m.fetch_objects(key="food_material_price_predict_model/feature_reduction_beta.csv")
#untuned_beta = m.fetch_objects(key="food_material_price_predict_model/untuned_elastic_net_beta.csv")
#linear_beta = m.fetch_objects(key="food_material_price_predict_model/linear_regression_beta.csv")

2020-04-20 15:40:04:manage:<INFO> 1 files is loaded from food_material_price_predict_model/beta_201908.csv in s3 'production-bobsim'

In [10]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#pd.merge(tuned_beta[0], reduc_beta[0], how="inner", on="index")
df = tuned_beta[0]
df

                          index          coef
0     standard_item_name_others    -14.753989
1         standard_item_name_감자  -1802.534660
2   standard_item_name_건가공(해조)류  -1715.261519
3        standard_item_name_건제품  -1106.466748
4        standard_item_name_고구마  -1494.107371
5       standard_item_name_고등어류     79.156761
6         standard_item_name_고추   -730.995426
7         standard_item_name_깻잎   -282.910705
8         standard_item_name_당근  -1731.328272
9         standard_item_name_대파  -1732.470186
10        standard_item_name_돈육   -547.220082
11        standard_item_name_땅콩   -621.681529
12        standard_item_name_레몬  -1072.558370
13        standard_item_name_메론   4760.777859
14         standard_item_name_무   -555.150279
15       standard_item_name_바나나  -1723.820378
16         standard_item_name_배   2229.227152
17        standard_item_name_배추   -189.163445
18         standard_item_name_벼  -1741.806644
19        standard_item_name_사과   -137.339178
20        standard_item_name_상추   -545.381194
21       standard_item_name_새송이  -1527.897601
22        standard_item_name_생강    -28.841470
23       standard_item_name_쇠고기    418.143324
24        standard_item_name_수박  14659.939266
25       standard_item_name_아몬드   -449.171353
26       standard_item_name_양배추    430.497938
27        standard_item_name_양파  -1877.613520
28        standard_item_name_열무  -1662.139267
29        standard_item_name_오이  -1082.107680
30        standard_item_name_우유  -1740.764915
31   standard_item_name_젓갈(액젓)류  -1509.841702
32        standard_item_name_조란  -1501.434440
33      standard_item_name_조미제품    406.135122
34        standard_item_name_참깨   -381.402621
35        standard_item_name_참외   -863.487039
36        standard_item_name_찹쌀  -1524.625195
37    standard_item_name_천연조미료류   -536.940187
38         standard_item_name_콩  -1122.467273
39       standard_item_name_토마토  -1695.244143
40      standard_item_name_파인애플   2970.610683
41      standard_item_name_파프리카  -1491.657699
42         standard_item_name_팥   -456.357195
43      standard_item_name_팽이버섯  -1487.354292
44        standard_item_name_포도   1744.536506
45   standard_item_name_피망(단고추)  -1247.521548
46        standard_item_name_한우   6243.396878
47        standard_item_name_호두   -430.886950
48        standard_item_name_호박   -418.786239
49                    region_강원    186.208228
50                  region_강원강릉     98.031883
51                  region_강원춘천    -92.160881
52                    region_경기    248.953540
53                  region_경기수원    -52.562771
54                 region_경기의정부    110.510787
55                  region_경남창원    -55.269033
56                  region_경북안동    -21.329945
57                  region_경북포항     54.496182
58                    region_광주    -27.349999
59                    region_대구     -3.981028
60                    region_대전    -34.816888
61                    region_부산     -2.908556
62                    region_서울    113.110785
63                  region_서울서부    -80.893320
64                    region_세종     23.271011
65                    region_울산      8.543005
66                    region_인천    -47.402714
67                  region_전남순천     57.764300
68                  region_전북전주   -161.537217
69                    region_전주    -32.433815
70                    region_제주     29.203701
71                    region_청주    133.034832
72                  region_충북청주    -29.154321
73                  t_dur_preci      2.812314
74                 t_temper_avg      8.558837
75              t_temper_lowest      1.917270
76                t_temper_high     -2.351710
77               t_wind_spd_max      8.796767
78               t_wind_spd_avg     -1.972256
79                t_rel_hmd_min     -0.428669
80                t_rel_hmd_avg     -0.234603
81                t_daily_preci     -1.157328
82                 m_wave_p_avg     10.978031
83                m_wave_p_high      2.270296
84               m_wind_spd_avg      1.778394
85              m_atm_press_avg     -1.095905
86                m_rel_hmd_avg     -0.528238
87                 m_temper_avg      5.287976
88           m_water_temper_avg      0.277116
89             m_max_wave_h_avg    -14.088107
90            m_sign_wave_h_avg      1.021014
91           m_sign_wave_h_high     -2.930024
92            m_max_wave_h_high      0.902804

In [11]:
df.sort_values(by='coef' , ascending=True)

                          index          coef
27        standard_item_name_양파  -1877.613520
1         standard_item_name_감자  -1802.534660
18         standard_item_name_벼  -1741.806644
30        standard_item_name_우유  -1740.764915
9         standard_item_name_대파  -1732.470186
8         standard_item_name_당근  -1731.328272
15       standard_item_name_바나나  -1723.820378
2   standard_item_name_건가공(해조)류  -1715.261519
39       standard_item_name_토마토  -1695.244143
28        standard_item_name_열무  -1662.139267
21       standard_item_name_새송이  -1527.897601
36        standard_item_name_찹쌀  -1524.625195
31   standard_item_name_젓갈(액젓)류  -1509.841702
32        standard_item_name_조란  -1501.434440
4        standard_item_name_고구마  -1494.107371
41      standard_item_name_파프리카  -1491.657699
43      standard_item_name_팽이버섯  -1487.354292
45   standard_item_name_피망(단고추)  -1247.521548
38         standard_item_name_콩  -1122.467273
3        standard_item_name_건제품  -1106.466748
29        standard_item_name_오이  -1082.107680
12        standard_item_name_레몬  -1072.558370
35        standard_item_name_참외   -863.487039
6         standard_item_name_고추   -730.995426
11        standard_item_name_땅콩   -621.681529
14         standard_item_name_무   -555.150279
10        standard_item_name_돈육   -547.220082
20        standard_item_name_상추   -545.381194
37    standard_item_name_천연조미료류   -536.940187
42         standard_item_name_팥   -456.357195
25       standard_item_name_아몬드   -449.171353
47        standard_item_name_호두   -430.886950
48        standard_item_name_호박   -418.786239
34        standard_item_name_참깨   -381.402621
7         standard_item_name_깻잎   -282.910705
17        standard_item_name_배추   -189.163445
68                  region_전북전주   -161.537217
19        standard_item_name_사과   -137.339178
51                  region_강원춘천    -92.160881
63                  region_서울서부    -80.893320
55                  region_경남창원    -55.269033
53                  region_경기수원    -52.562771
66                    region_인천    -47.402714
60                    region_대전    -34.816888
69                    region_전주    -32.433815
72                  region_충북청주    -29.154321
22        standard_item_name_생강    -28.841470
58                    region_광주    -27.349999
56                  region_경북안동    -21.329945
0     standard_item_name_others    -14.753989
89             m_max_wave_h_avg    -14.088107
59                    region_대구     -3.981028
91           m_sign_wave_h_high     -2.930024
61                    region_부산     -2.908556
76                t_temper_high     -2.351710
78               t_wind_spd_avg     -1.972256
81                t_daily_preci     -1.157328
85              m_atm_press_avg     -1.095905
86                m_rel_hmd_avg     -0.528238
79                t_rel_hmd_min     -0.428669
80                t_rel_hmd_avg     -0.234603
88           m_water_temper_avg      0.277116
92            m_max_wave_h_high      0.902804
90            m_sign_wave_h_avg      1.021014
84               m_wind_spd_avg      1.778394
75              t_temper_lowest      1.917270
83                m_wave_p_high      2.270296
73                  t_dur_preci      2.812314
87                 m_temper_avg      5.287976
65                    region_울산      8.543005
74                 t_temper_avg      8.558837
77               t_wind_spd_max      8.796767
82                 m_wave_p_avg     10.978031
64                    region_세종     23.271011
70                    region_제주     29.203701
57                  region_경북포항     54.496182
67                  region_전남순천     57.764300
5       standard_item_name_고등어류     79.156761
50                  region_강원강릉     98.031883
54                 region_경기의정부    110.510787
62                    region_서울    113.110785
71                    region_청주    133.034832
49                    region_강원    186.208228
52                    region_경기    248.953540
33      standard_item_name_조미제품    406.135122
23       standard_item_name_쇠고기    418.143324
26       standard_item_name_양배추    430.497938
44        standard_item_name_포도   1744.536506
16         standard_item_name_배   2229.227152
40      standard_item_name_파인애플   2970.610683
13        standard_item_name_메론   4760.777859
46        standard_item_name_한우   6243.396878
24        standard_item_name_수박  14659.939266